.scrollspy {
  background-color: #515151;
  marging: 10px;
  position: fixed;
  left: 0;
  //   top: 50%;
}
ul {
  list-style: none;
}
li {
  margin: 10px;
  padding: 10px 0;
}
a {
  color: white;
}
.isCurrent {
  font-weight: bold;
}

.isCurrent a,
h2 {
  color: #f1a07a;
}
