// @import '~bootstrap/dist/css/bootstrap.min.css';

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

/**
 * Print-specific styles - These styles are applied only when printing or generating a PDF.
 */
@media print {
  @page {
    margin: 0.25in;
  }

  /* Prevent elements from breaking across pages */
  .avoid-break {
    break-inside: avoid;
  }

   /* Force a page break after this element */
  .page-break {
    break-after: page;
  }

  .no-print, .MuiAccordionSummary-expandIconWrapper {
    visibility: hidden !important;
  }

  .attribute-label, .attribute-value {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }

  .attribute-value .MuiTypography-root {
    text-align: right !important;
    justify-content: right !important;
  }

  .info-sheet-item {
    flex-direction: row !important;
    padding-bottom: 15px !important;
  }
}