// @import '~bootstrap/dist/css/bootstrap.min.css';

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

/**
 * Print-specific styles - These styles are applied only when printing or generating a PDF.
 */
@media print {
  @page {
    margin: 0.25in;
  }

  html, body {
    font-size: 75% !important;
  }

  /* Prevent elements from breaking across pages */
  .avoid-break {
    break-inside: avoid;
  }

   /* Force a page break after this element */
  .page-break {
    break-after: page;
  }

  .MuiAccordionSummary-root{
    min-height: auto !important;
    height: 40px !important;
  }

  .no-print {
    display: none !important;
  }

  .attribute-label, .attribute-value {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }

  .attribute-value .MuiTypography-root {
    text-align: right !important;
    justify-content: right !important;
  }

  .attribute-value-text .MuiTypography-root {
    text-align: center !important;
    justify-content: center !important;
  }

  .info-sheet-item {
    flex-direction: row !important;
    padding-bottom: 15px !important;
    padding: 0 !important;
  }

  .info-sheet-image-container {
    height: 85% !important;
    width: 85% !important;
    margin: auto !important;
    display: block !important; 
  }
}

.magnifying-glass {
  position: fixed;
  display: none;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 99999;
  transition: left .3s, top .3s;
  transform: translate(-10px, -10px);

  div.caption {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 0.2rem;
    text-align: center;

    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    min-width: 10rem;
    max-width: 20rem;

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    font-style: italic;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
  }

  div.caption:empty {
    display: none;
  }
}
