$darkGreen: #598444;

// LEGEND MODAL COLORS
$cashCropGrowthWindowColor: rgba(255, 12, 62, 0.2);
$frostSeedingPossibleColor: #2f80ed;
$temperatureRiskToEstablishmentColor: #f2c94c;
$reliableEstablishmentColor: #2d7b7b;
$defaultLegendColor: #f0f7eb;
$multipleColor: #c5c6c7;
$hessianFlyFreeColor: #008000;