@import '../styles/constants.scss';

div.growthCellsWrapper { 
  .growthCell-30 {
    flex: 1;
    height: 30px;
    position: relative;
    &.cashCropMonth{
      &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        // margin-top: -50%;
        content: '';
        background-color: $cashCropGrowthWindowColor;
        // opacity: 100%;
        z-index: 1000;
      }
    }
  }
  // TODO: The z-index is an issue here to implement the cash crop bar
  // since in this situation I used a div and ::after to implement it, 
  // the ::after will inherit the z-index value from parent and stack on parent,
  // so I set basic z-index to 2, and others to auto so the cash crop bar
  // will be shown on the basic bars will not affecting others
  .growthCell-30.Frost.Seeding {
    background-color: $frostSeedingPossibleColor;
  }
  .growthCell-30.Reliable {
    background-color: $reliableEstablishmentColor;
  }
  .growthCell-30.Average {
    background-color: $frostSeedingPossibleColor;
  }
  .growthCell-30.Multiple{
    background-color: $multipleColor;
  }
  .growthCell-30.Freeze\/Moisture.Risk.to.Establishment {
    background-color: $temperatureRiskToEstablishmentColor;
  }
  .growthCell-30.Spring, .basic, .Fall\/Winter, .Can, .Summer, .Spring, .Average  {
    background-color: $defaultLegendColor;
  }

  .growthCell-20 {
    flex: 1;
    height: 20px;
    position: relative;
    &.cashCropMonth{
      &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background-color: $cashCropGrowthWindowColor;
      }
    }
  }

  .growthCell-20.Frost.Seeding {
    background-color: $frostSeedingPossibleColor;
  }
  .growthCell-20.Reliable {
    background-color: $reliableEstablishmentColor;
  }
  .growthCell-20.Average {
    background-color: $frostSeedingPossibleColor;
  }
  .growthCell-20.Multiple{
    background-color: $multipleColor;
  }
  .growthCell-20.Freeze\/Moisture.Risk.to.Establishment {
    background-color: $temperatureRiskToEstablishmentColor;
  }
  .growthCell-20.Spring, .basic, .Fall\/Winter, .Can, .Summer, .Spring, .Average  {
    background-color: $defaultLegendColor;
  }
}
