@import "../../node_modules/sass-mediaqueries/media-queries";
@import "../styles/constants.scss";

.cropDetailsText {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  padding-left: 2em;
  justify-content: space-between;
  div.part1_ut {
    display: flex;
    flex-direction: column;
    text-align: left;
    word-wrap: break-word;
    font-weight: 700;
    span {
      &.cropCategory {
        color: #919191;
      }
      &.cropName {
        font-size: 15pt;
      }
      &.cropScientificName {
        color: #c2c2c2;
        font-style: italic;
      }
    }

    // &.cropDuration {

    // }
  }
  // div.part2_lt {
  // }
}

.activeCartBtn {
  background-color: $progressColor !important;
  color: white !important;
}

.rating,
.rating-0,
.rating-1,
.rating-2,
.rating-3,
.rating-4 {
  display: inline-block;
  background: url("/images/rating_sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  // box-shadow: inset 0px 0px 0 3px white;
  // box-shadow: inset 0px 0px 0 1px #e3f2f4;
  width: 100px;
  height: 20px;
  border-radius: 10px;
}
.rating {
  background-position: -0px -0px;
}
.rating-0 {
  background-position: -100px -0px;
}
.rating-1 {
  background-position: -0px -30px;
}
.rating-2 {
  background-position: -100px -30px;
}
.rating-3 {
  background-position: -0px -60px;
}
.rating-4 {
  background-position: -100px -60px;
}

.tableHeadWrapper {
  background-color: #abd08f;
  text-align: center;
  word-wrap: break-word;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  tr {
    border-radius: 15px;
    // th {
    // }
  }
}

table#primaryCropTable {
  tbody.tableBodyWrapper {
    tr.MuiTableRow-root {
      // box-shadow: 0 0 5px #598344;
      td {
        // margin-top: 1em;
        // border: 2px solid black;
        border-top: 2px solid #598344;
        border-bottom: 2px solid #598344;
        display: table-cell;
        vertical-align: middle;
        &.goalCells {
          > div {
            position: relative;
            top: -17px;
          }
        }

        table tbody {
          tr td {
            border: 0px !important;
            padding-top: 0px !important;
          }
        }

        &:first-child {
          // border-top: 0px;
          border-left: 2px solid #598344;
          display: flex;
          vertical-align: auto;
          // border-right: 0px !important;
        }
        &:nth-child(2) {
          vertical-align: top;
        }

        &:last-child {
          border-right: 2px solid #598344;
          // remove line below to vertically align!
          vertical-align: top;
        }
        &:nth-last-child(2) {
        }
      }
      &:first-child td {
        border-top: 0px;
        border-bottom: 0px;
      }
      &:nth-child(2n + 1) td {
        border: 0px;
      }
    }
  }
}

.cropTableModal.modalContainer {
  width: 90%;
  border: 0px;
  margin: 0 auto;
  border-radius: 5px;
  position: absolute;
  display: block;
  top: 5%;
  left: 5%;
}

#primaryCropTable thead {
  tr.theadSecond {
    height: 54px;
  }
  th {
    vertical-align: middle;
  }
}

// #primaryCropTable {
//   height: 100%;
//   border-collapse: collapse;
//   width: 100%;
//   margin: 10px;
//   font-size: 0.8em;
//   thead.tableHeadWrapper {
//     tr.theadFirst {
//       th,
//       td {
//         position: sticky;
//         position: -webkit-sticky; /* Safari */
//         top: 0;
//       }
//     }
//     tr.theadSecond {
//       th,
//       td {
//         position: sticky;
//         position: -webkit-sticky; /* Safari */
//       }
//     }
//   }
// }
