div.comparisonContainer > .row {
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  min-height: 80vh;
}
// div.comparisonContainer > .row > .col-xs-4 {
//   display: inline-block;
//   float: none;
// }

div.comparisonContainer {
  div.arrowRightContainer {
    z-index: 1;
    display: inline-block;
    position: absolute;
    right: -19px;
    top: 116px;
    transition: all 0.1s linear;
    // &:hover {
    //   background-color: ;
    // }
  }
  div.arrowLeftContainer {
    z-index: 1;
    display: inline-block;
    position: absolute;
    left: -19px;
    top: 116px;
  }
}
