div.cropFilters {
  div.filterOpen {
    background-color: #add08f;
  }
  div.filterClose {
    background-color: white;
  }
}

ol.goalsListFilter {
  li {
    // counter-increment: step-counter;
    list-style: none;
    margin-bottom: 10px;

    font-weight: normal;

    cursor: move;
  }
}

div.filterTooltip {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  p {
    text-align: left;
    display: block;
    margin-bottom: 0 !important;
  }
}
