@import '../../node_modules/sass-mediaqueries/media-queries';
@import '../styles/constants.scss';

.legendModalRow {
  p {
    > svg {
      &.reliable {
        color: $reliableEstablishmentColor;
      }
      &.temperatureRisk {
        color: $temperatureRiskToEstablishmentColor;
      }
      &.frostPossible {
        color: $frostSeedingPossibleColor;
      }
      &.cashCrop {
        color: $cashCropGrowthWindowColor;
      }
      &.sideBar {
        color: $defaultLegendColor;
      }
      &.multiple {
        color: $multipleColor;
      }
      &.hessianFlyFree {
        color: $hessianFlyFreeColor;
      }
    }
  }
}

thead.tableHeadWrapper {
  tr {
    th {
      background-color: rgb(171, 208, 143);
    }
  }
}

table.calendarViewTable {
  thead.tableHeadWrapper {
    & > tr.calFirstHeadRow {
      th {
        &.growthMonthSeparator.activeGrowthMonth {
          &::after {
            border-right: 5px solid white;
            border-bottom: 5px solid white;
            background-color: $darkGreen;
          }
          &:nth-last-child(2) {
            &::after {
              border-right: 0px;
            }
          }
        }
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;

          z-index: -99;
        }
      }
    }
  }
}

th.calendarSecondHeadMonth.activeGrowthMonth {
  &.growthMonthSeparator {
    &::after {
      border-right: 5px solid white;
    }
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: $darkGreen;
    z-index: -99;
  }
}