@import '../../node_modules/sass-mediaqueries/media-queries';
@import '../styles/constants.scss';

.legendModalRow {
  p {
    > svg {
      &.reliable {
        color: $reliableEstablishmentColor;
      }
      &.temperatureRisk {
        color: $temperatureRiskToEstablishmentColor;
      }
      &.frostPossible {
        color: $frostSeedingPossibleColor;
      }
      &.cashCrop {
        color: $cashCropGrowthWindowColor;
      }
      &.sideBar {
        color: $defaultLegendColor;
      }
      &.multiple {
        color: $multipleColor;
      }
      &.hessianFlyFree {
        color: $hessianFlyFreeColor;
      }
    }
  }
}