@import "../styles/constants.scss";
.accordion {
  div.MuiAccordionSummary-root {
    background-color: white;
  }
  border-color: $progressColor !important;
}
.modalSideBar {
  //   box-shadow: 0px 2px 1px -1px $progressColor, 0px 1px 1px 0px $progressColor,
  //     0px 1px 3px 0px $progressColor !important;
  box-shadow: none;
  border-color: $progressColor !important;
  border: 1px solid;
}

div.modalParentWrapper {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  height: 100%;
  .cropTableModal.modalContainer {
    width: 90%;
    border: 0px;
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    display: block;
    top: 5%;
    left: 5%;
    max-height: 85%;
    overflow: scroll;
  }
}
