@import '../../node_modules/sass-mediaqueries/media-queries';
@import '../styles/constants.scss';

// .cropDetailsText {
//   display: flex;
//   flex-basis: 60%;
//   flex-direction: column;
//   padding-left: 2em;
//   justify-content: space-between;
//   div.part1_ut {
//     display: flex;
//     flex-direction: column;
//     text-align: left;
//     word-wrap: break-word;
//     font-weight: 700;
//     span {
//       &.cropCategory {
//         color: #919191;
//       }
//       &.cropName {
//         font-size: 15pt;
//       }
//       &.cropScientificName {
//         color: #c2c2c2;
//         font-style: italic;
//       }
//     }

//     // &.cropDuration {

//     // }
//   }
//   // div.part2_lt {
//   // }
// }

.activeCartBtn {
  background-color: $progressColor !important;
  color: white !important;
}

.inactiveCartBtn {
  background-color: #e3f2f4 !important;
  color: black;
}

.rating,
.rating-0,
.rating-1,
.rating-2,
.rating-3,
.rating-4 {
  display: inline-block;
  background: url('~/public/images/rating_sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  position: relative;
  // box-shadow: inset 0px 0px 0 3px white;
  // box-shadow: inset 0px 0px 0 1px #e3f2f4;
  width: 100px;
  height: 20px;
  border-radius: 10px;
}
.rating {
  background-position: -0px -0px;
}
.rating-0 {
  background-position: -100px -0px;
}
.rating-1 {
  background-position: -0px -30px;
}
.rating-2 {
  background-position: -100px -30px;
}
.rating-3 {
  background-position: -0px -60px;
}
.rating-4 {
  background-position: -100px -60px;
}

.tableHeadWrapper {
  background-color: #abd08f;
  text-align: center;
  word-wrap: break-word;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table#primaryCropTable {
  border-spacing: 0 8px;

  th {
    padding: 0;
  }

  tbody.tableBodyWrapper {
    tr.MuiTableRow-root:not(.inactiveCropRow) {
      outline: 2px solid #598344;

      td {
        padding: 0.3em;
        vertical-align: middle;
        &.goalCells {
          > div {
            position: relative;
            top: -17px;
          }
        }

        table tbody {
          tr td {
            border: 0 !important;
            zpadding: 0.4em;
          }
        }

        &:first-child {
          border-left: 2px solid #598344;
          vertical-align: auto;
        }

        &:nth-child(2) {
          vertical-align: top;
        }

        &:last-child {
          border-right: 2px solid #598344;
          // remove line below to vertically align!
          vertical-align: top;
        }
      }
    }
  }
}

#primaryCropTable thead {
  tr.theadSecond {
    height: 54px;
  }
  th {
    vertical-align: middle;
  }
}

.units {
  color: #999;
  margin-left: 0.5em;
  font-size: 90%;
}

table.w-100 ~ table {
  /* clunky fix to get Dec right-aligned (rh) */
  width: 100%;
}
