@import "../../node_modules/sass-mediaqueries/media-queries";
@import "../styles/constants.scss";

// $cashCropGrowthWindowColorOLD: rgba(255, 12, 62, 0.5);
// $cashCropGrowthWindowColor: linear-gradient(
//   to bottom,
//   rgba(240, 247, 235, 1) 4%,
//   rgba(255, 12, 62, 0.5) 37%,
//   rgba(255, 12, 62, 0.5) 37%,
//   rgba(255, 12, 62, 0.5) 46%,
//   rgba(255, 12, 62, 0.5) 53%,
//   rgba(255, 12, 62, 0.5) 58%,
//   rgba(255, 12, 62, 0.5) 64%,
//   rgba(240, 247, 235, 1) 97%
// );
// $frostSeedingPossibleColor: #2f80ed;
// $temperatureRiskToEstablishmentColor: #f2c94c;
// $reliableEstablishmentColor: #2d7b7b;
// $defaultLegendColor: #f0f7eb;

$cashCropGrowthWindowColor: rgb(255, 12, 62);
$frostSeedingPossibleColor: #2f80ed;
$temperatureRiskToEstablishmentColor: #f2c94c;
$reliableEstablishmentColor: #2d7b7b;
$defaultLegendColor: #f0f7eb;

.calendarViewTable {
  border-collapse: separate;
  border-spacing: 0;
}

.calendarViewTable {
  tr {
    // td:first-child {
    //   border-right: 10px solid white;
    // }
    // border-top-left-radius: 10px;
    // border-bottom-left-radius: 10px;
    // border-radius: 10px;
    td:nth-child(1),
    td:nth-child(2) {
      border-right: 10px solid white;
    }
    td:nth-child(1) {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    td:last-child {
      border-left: 10px solid white;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7),
    td:nth-child(8),
    td:nth-child(9),
    td:nth-child(10),
    td:nth-child(11),
    td:nth-child(12),
    td:nth-child(13) {
      border-right: 5px solid transparent;
    }
  }

  tbody {
    tr {
      max-height: 3em;
      td.calendarTableCell {
        // max-height: 30px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        margin: 0;
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // justify-content: space-between;
        .tdContainer {
          max-height: 3em;
          overflow: hidden;
          border: 1px solid transparent;
          border-radius: 10px;
        }
        button {
          > span {
            text-transform: capitalize;
          }
        }
      }
      //   td.legendColor {
      //     background-color: $defaultLegendColor;
      //   }
    }
  }
}

.legendModalRow {
  p {
    > svg {
      &.reliable {
        color: $reliableEstablishmentColor;
      }
      &.temperatureRisk {
        color: $temperatureRiskToEstablishmentColor;
      }
      &.frostPossible {
        color: $frostSeedingPossibleColor;
      }
      &.cashCrop {
        color: $cashCropGrowthWindowColor;
      }
    }
    font-weight: 800;
  }
}

td.growthWindowCell {
  width: calc(100% / 12);
  border-right: 0px !important;
  //   background-color: $defaultLegendColor;
  padding-right: 0px !important;
  padding-left: 0px !important;
  .legendContainer {
    &.cashCropLegendContainer {
      div {
        //   BUG: check
        background: $cashCropGrowthWindowColor !important;
        border-right: 1px solid white !important;
      }
    }
    .earlyPart,
    .midPart {
      background-color: $defaultLegendColor;
      &.Reliable {
        background-color: $reliableEstablishmentColor !important;
        border-right: 0px !important;
      }
      &.Frost {
        background-color: $frostSeedingPossibleColor !important;
        border-right: 0px !important;
      }
      &.Temperature\/moisture {
        background-color: $temperatureRiskToEstablishmentColor !important;
        border-right: 0px !important;
      }
    }
    // .midPart {
    //   background-color: $defaultLegendColor;
    //   &.Reliable {
    //     background-color: $reliableEstablishmentColor !important;
    //   }
    // }
  }
}

@include mq($max-width: 1200px) {
  // modalLegendPaper

  .modalLegendPaper {
    width: 80vw !important;
  }

  // table
  table.table.calendarViewTable {
    margin-top: 2em;
    // thead.tableHeadWrapper {
    //   // > tr {
    //   //   td:nth-child(1) {
    //   //     width: 25% !important;
    //   //   }
    //   //   // td:nth-child(2) {
    //   //   //   width: 15%;
    //   //   // }
    //   //   // td:nth-child(3) {

    //   //   // }
    //   //   td:last-of-type {
    //   //     width: 10% !important;
    //   //     max-width: 10% !important;
    //   //   }
    // }
    tbody {
      tr {
        td.calendarTableCell {
          div.tdContainer {
            max-height: inherit;
            > img {
              display: none;
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

div.calendarViewTableWrapper.table-responsive {
  .circularCentered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

table.table td,
table.table th {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
