@import '../styles/constants.scss';
// $frostSeedingPossibleColor: #2f80ed;
// $temperatureRiskToEstablishmentColor: #f2c94c;
// $reliableEstablishmentColor: #2d7b7b;
// $defaultLegendColor: #f0f7eb;
$averageFrostColor: #accbff;

div.growthCellsWrapper { 
  .growthCell-30 {
    // for controlling the length of each grid, default set to 1
    flex: 1;
    height: 30px;
    position: relative;
    &.cashCropMonth{
      &::after {
        position: absolute;
        width: 100%;
        height: 53px;
        top: 0;
        content: '';
        background-color: $cashCropGrowthWindowColor;
        z-index: 1;
      }
    }
  }
  .growthCell-30.Frost.Seeding {
    background-color: $frostSeedingPossibleColor;
    z-index: 2;
  }
  .growthCell-30.Reliable {
    background-color: $reliableEstablishmentColor;
    z-index: 2;
  }
  .growthCell-30.Average {
    background-color: $averageFrostColor;
    z-index: 2;
  }
  .growthCell-30.Average.Reliable{
    background-image: repeating-linear-gradient(45deg, 
    $reliableEstablishmentColor, 
    $reliableEstablishmentColor 5px, 
    $averageFrostColor 5px, 
    $averageFrostColor 10px);
    z-index: 2;
  }
  .growthCell-30.Freeze\/Moisture.Risk.to.Establishment {
    background-color: $temperatureRiskToEstablishmentColor;
    z-index: 2;
  }
  .growthCell-30.Spring, .basic, .Fall\/Winter, .Can, .Summer, .Spring, .Average  {
    background-color: $defaultLegendColor;
  }

  .growthCell-20 {
    width: 50%;
    height: 20px;
  }
  .growthCell-20.Frost {
    background-color: $frostSeedingPossibleColor;
    z-index: 2;
  }
  .growthCell-20.Reliable {
    background-color: $reliableEstablishmentColor;
    z-index: 2;
  }
  .growthCell-20.Temperature\/Moisture.Risk.to.Establishment {
    background-color: $temperatureRiskToEstablishmentColor;
    z-index: 2;
  }
  .basic.growthCell-20 {
    background-color: $defaultLegendColor;
  }
}

td.growthTd {
  position: relative;
  &.listView {
    &.cashCropMonth {
      &::after {
        position: absolute;
        width: 100%;
        height: 20px;
        top: 0;
        left: 0;
        content: '';
        background-color: $cashCropGrowthWindowColor;
        z-index: 1;
      }
    }
  }
  &.cashCropMonth {
    &::after {
      position: absolute;
      width: 100%;
      height: 53px;
      top: 0;
      content: '';
      background-color: $cashCropGrowthWindowColor;
      z-index: 1;
    }
  }
}
// td.growthTd.cashCropMonth {

//   //   .basic.growthCell-30 {
//   //     &::after {
//   //       position: absolute;
//   //       width: 50%;
//   //       height: 100%;
//   //       content: "";
//   //       background-size: cover;
//   //       background-repeat: no-repeat;
//   //       background-color: $cashCropGrowthWindowColor;
//   //     }
//   //   }
// }
