@import '../../node_modules/sass-mediaqueries/media-queries';
@import '../styles/constants.scss';

div.starRatingParent {
  button {
    &.first-btn {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    &.last-btn {
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
    &:hover {
      color: $darkGreen !important;
      font-size: 1.04em;
    }
    &:not(:first-child):not(:last-child) {
      border-right: 2px solid #1e8c99;
    }
    &:first-child {
      border-right: 2px solid #1e8c99;
    }
    &.selected {
      // background-color: $progressColor !important;
      background-color: #2b7b79 !important;
      color: white !important;
      // border-top: 1px solid #bbbac0;
      // border-bottom: 1px solid #bbbac0;
    }
    &.not-selected {
      background-color: #e3f2f4 !important;
      color: #1e8c99;
      &:hover {
        color: black;
      }
    }
    border: 1px solid #1e8c99;
    font-weight: bold;
    max-height: 30px;
    transition: all 0.1s ease;
  }
}
