@import '../../node_modules/sass-mediaqueries/media-queries';
@import '../styles/constants.scss';
footer.primaryFooter {
  // position: fixed;
  // bottom: 0;
  // z-index: 9998 !important;
  background-color: $lighterGreen;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > .leftSideText {
    display: inline;
  }
  padding: 1em;
  font-weight: bolder;
}

// feature phones
@include screen(320px, 640px) {
  footer.primaryFooter {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// ipads and other tablets
@include screen(641px, 1366px) {
  footer.primaryFooter {
    position: relative;
    flex-wrap: wrap;
    height: 100px;
    justify-content: center;
    text-align: center;
  }
}

a.footerLink,
div.rightSideText a {
  color: black;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
