@import "../styles/constants.scss";
.greenbarBtn {
  max-width: 500px;

  span {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
  }
  &:hover {
    background-color: white !important;
    span:first-child {
      color: black;
    }
  }
}

.greenBarParent {
  width: 100%;
  .greenBarExpansionPanel {
    // height: 0px;
    background-color: $darkGreen;
    width: 100%;
    z-index: 1000002;
    position: absolute;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    // animation: min-height 3s linear;
  }
}
