.greenBarContainer {
  height: 50px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  color: white;
  div {
    margin-right: 30px;
    color: white;
  }
  button {
    color: white;
  }
}
