@import '../styles/constants.scss';

.greenbarBtn {
  max-width: 500px;

  span {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
  }
  &:hover {
    background-color: $lighterGreen !important;
    span:first-child {
      color: black;
    }
  }
}

.greenbarBtn2{
  max-width: 500px;

  span {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
  }
  &:hover {
    background-color: white !important;
    span: {
      color: black;
    }
  }
}

.greenBarParent {
  width: 100%;
}
