@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*======================
      404 page
  =======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Roboto', serif;
  height: 95vh;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url('~/public/images/page_not_found.gif');
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
// .Temperature\/Moisture.Risk.to.Establishment {
//   background-color: #f2c94c !important;
// }
