@import "../../node_modules/sass-mediaqueries/media-queries";

.gprogress {
  display: flex;
  flex-direction: column-reverse;
  //   justify-content: center;
  align-items: center;

  //   color: #fff;
  //   justify-content: space-evenly;

  .progress-diagram {
    display: flex;
    flex-direction: row;
    width: 100%;
    div {
      width: 100%;
    }
    div:not(:first-child) {
      background-color: green;
      padding: 10px 5px 10px 5px;
      width: 100%;
      border-right: 2px solid #fff;
    }
    div:nth-child(1) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    div:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-right: 0px;
    }
  }
}
