.tooltipChildren p {
  width: 100%;
  display: inline-block;
  transition: all 0.1s linear;
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999;
  }
}
