@import "../../node_modules/sass-mediaqueries/media-queries";
.progress {
  display: flex;
  direction: row;
  color: #fff;
  //   justify-content: space-evenly;

  div:not(:first-child) {
    background-color: green;
    padding: 10px 5px 10px 5px;
    width: 100%;
    border-right: 2px solid #fff;
  }
  div:nth-child(2) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  div:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 0px;
  }
}

.progressContainer {
  margin-top: 3em;
}
.secondStepContainer,
.thirdStepContainer {
  margin-top: 5em;
  padding: 1em;
  box-shadow: rgb(136, 136, 136) 0px 0px 1px;
  width: 90% !important;
}
.thirdStepContainer {
  div.row {
    padding-left: 1.2em;
    padding-right: 1.2em;
  }
  div.row:first-of-type {
    padding-top: 1.2em;
  }
  .badge {
    width: 100%;

    padding: 2em;
    margin-bottom: 3em;
  }
  .chip {
    background-color: #f0f7eb;
    font-weight: bold;
    margin-bottom: 2em;
    &.active {
      border-radius: 16px !important;
      & > span {
        color: white;
      }
    }
  }
  .chip:hover {
    background-color: #598445 !important;
    & > span {
      color: white;
    }
  }
}

.case3FirstRow {
  h1 {
    text-align: center;
  }
}
.case3SecondRow {
  p {
    color: #598445;
  }
}
.tooltipText {
  max-width: none !important;
  color: black;
  border: none !important;
  background-color: rgba(240, 247, 235, 1);
  padding: 1em;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
}

.parentJumbotronCol {
  max-height: 70vh;
}

div#mainJumbotronTextWrapper {
  background-color: rgba(240, 247, 235, 0.8);
  width: 90%;
  margin: 0 auto;
  color: black;
  padding: 2%;
  height: auto;
}
.zoneDrowdown {
  display: inline-block;
}

@include screen(320px, 640px) {
  .secondStepContainer {
    margin-top: 0;
  }
  div#mainJumbotronTextWrapper {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  div#mainJumbotronWrapper {
    // padding-top: 0;
    padding: 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  .parentJumbotronRow {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .parentJumbotronCol {
    // padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@include screen(641px, 1326px) {
  div#mainJumbotronTextWrapper {
    height: 100vh;
  }
}
