<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

</IfModule>


# Add Type JPG
RewriteEngine On
RewriteMap  lc int:tolower
RewriteCond %{REQUEST_URI}\.JPG -f
RewriteRule ^(.*)\.JPG$ $1.jpg